body {
  font-size: 1.5vw;
  line-height: 1.5;
  margin: 0;
  color: #b5b5b5;
}
ul {
  margin: 0;
}
.outer-div {
  background-color: #f5dee4;
  padding: 2.1vw;
}
#triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 8vw solid #fff;
  border-left: 90.5vw solid transparent;
  position: absolute;
  margin-top: 27.1vw;
}
#triangle-littleright {
  width: 0;
  height: 0;
  border-bottom: 1.1vw solid #ececeb;
  border-left: 12vw solid transparent;
  position: absolute;
  margin-top: 34vw;
}
.left-div {
  height: 100%;
  width: 12vw;
  background: #ececeb;
  position: absolute;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.main-div {
  background-color: #fff;
  border-radius: 5px;
  margin: 2vw;
  box-shadow: 0 10px 15px 10px #ecc4cc;
}
.page-nav {
  text-align: center;
  height: 50px;
  line-height: 40px;
  color: #8cbb19;
  margin-left: 12vw;
}
.page-nav a {
  text-decoration: none;
  color: #fe92a3;
}
.page-nav .page-number {
  margin-right: 2vw;
}
#flower-to-top {
  height: 4vw;
  width: 4vw;
  background-image: url("/imgs/flower.png");
  background-repeat: no-repeat;
  z-index: 999;
  position: fixed;
  right: 1vw;
  bottom: 1vw;
}
.header {
/* margin-top: 2em*/
  background-image: url("/imgs/head1.jpg");
/*background-image:url(/imgs/head.jpeg);*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 35vw;
}
.header .blog-title .logo {
  color: #fe92a3;
  font-size: 2em;
  font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
  text-decoration: none;
}
.header .menu {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.header .menu .menu-item {
  display: inline-block;
  margin-right: 10px;
}
.header .menu .menu-item-link {
  color: #fe92a3;
  text-decoration: none;
}
.header .menu .menu-item-link:hover {
  color: #8cbb19;
}
.post {
  padding: 30px 50px 10px;
  background-color: #fff;
/*border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;*/
  margin-left: 12vw;
  font-weight: bold;
}
.post .title {
  color: #91aa95;
}
.post .post-meta {
  color: #bababa;
  margin-left: -7vw;
  z-index: 999;
  position: absolute;
}
.post .post-time {
  color: #fff;
  background-color: #fe92a3;
  display: inline-block;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  font-size: 1vw;
  line-height: 6vw;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-title {
  font-size: 1.5em;
}
.posts .post-title .post-title-link {
  color: #91aa95;
  text-decoration: none;
}
.posts .post-content {
  color: #b5b5b5;
}
.posts .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-meta {
  color: #bababa;
  margin-left: -7vw;
  z-index: 999;
  position: relative;
}
.posts .post-time {
  color: #fff;
  background-color: #fe92a3;
  display: inline-block;
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  font-size: 1vw;
  line-height: 6vw;
}
.border-img {
  height: 28px;
  width: 100%;
  background-image: url("/imgs/leaf.png");
}
